{% if categories_list.first[0] == null %}
  {% for category in categories_list %}
    <a class="post-category" href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category }}-ref">{{ category | join: "/" }}</a>
  {% endfor %}
{% else %}
  {% for category in categories_list %}
    <a class="post-category" href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref">{{ category[0] | join: "/" }}</a>
  {% endfor %}
{% endif %}
{% assign categories_list = nil %}
<span>&nbsp;&nbsp;标签有</span>
{% if tags_list.first[0] == null %}
  {% for tag in tags_list %}
    <a class="post-category" href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }}</a>
  {% endfor %}
{% else %}
  {% for tag in tags_list %}
    <a class="post-category" href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }}</a>
  {% endfor %}
{% endif %}
{% assign tags_list = nil %}