<div id="copyright">
  <p>作者：<a href="http://27zeros.com/">刘浩</a></p>
  <ul>
    <li>微博: <a href="http://www.weibo.com/liubuhu/">@刘浩liubuhu</a></li>
    <li>豆瓣: <a href="http://www.douban.com/people/hackerfollower/">@hackerfollower</a></li>
    <li>电话: &#049;8&#054;788&#051;4290</li>
    <li>微信: &#049;8&#054;788&#051;4290</li>
    <li>Email:<a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#108;&#105;&#117;&#104;&#097;&#111;&#106;&#110;&#064;&#049;&#054;&#051;&#046;&#099;&#111;&#109;">&#108;&#105;&#117;&#104;&#097;&#111;&#106;&#110;&#064;&#049;&#054;&#051;&#046;&#099;&#111;&#109;</a></li>
  </ul>
  <p>原文链接：<a href="{{site.production_url}}{{page.url}}">{{site.production_url}}{{page.url}}</a>
    <br>本文允许非商业转载，转载请保留出处，商业转载请与作者联系，谢谢。</p>
</div>