---
layout: page
theme :
  name : pure
title: 刘浩理财规划小站
tagline: 保险经纪人刘浩
keywords: 精心优选, 精心优选定期寿险, 保险经纪人, 明亚, 明亚保险经纪, 性价比最高, 保险, 理财规划
---
{% include JB/setup %}
{% for post in paginator.posts %}
  <section class="post">
    <header class="post-header">
      <img class="post-avatar" height="48" width="48" src="{{ post.avatarimg }}">
      <h2 class="post-title">{{ post.title }}</h2>
      <p class="post-meta">By {{ post.date | date: "%m" }}月{{ post.date | date: "%d" }}日 {{ post.date | date: "%Y" }} <a class="post-categorybut" href="/type/#{{ post.categories }}">{{ post.categories  }}</a> <a class="post-category"> {{ post.tags | first }}</a>  <a class="post-category">{{ post.tags[1] }}</a></p>
    </header>
    <div class="post-description">
      {{ post.content | split:'<!-- more -->'| first }}
      <a href="{{ BASE_PATH }}{{ post.url }}" class="post-categorybut">阅读全文</a>
    </div>
  </section>
{% endfor %}
<div class="pure-g pagination">
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pure-u-1-2 pagination-item" href="{{ BASE_PATH }}"><p>Newer</p></a>
  {% else %}
  <a class=" pure-u-1-2 pagination-item" href="{{ BASE_PATH }}/page/{{paginator.previous_page}}"><p>Newer</p></a>
  {% endif %}
  {% else %}
  <span class=" pure-u-1-2 pagination-item"><p>Newer</p></span>
  {% endif %}
  {% if paginator.next_page %}
  <a class=" pure-u-1-2 pagination-item" href="{{ BASE_PATH }}/page/{{paginator.next_page}}"><p>Older</p></a>
  {% else %}
  <span class=" pure-u-1-2 pagination-item"><p>Older</p></span>
  {% endif %}
</div>
