<header class="post-header">
  <img class="post-avatar" height="48" width="48" src="{{ BASE_PATH }}/images/apple-touch-icon.png" />
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="post-meta">By {{ page.date | date_to_long_string }}
  <span>发表在</span>
  {% assign categories_list = page.categories %}
  {% assign tags_list = page.tags %}
  {% include 27zeros/categoriesandtags.html %}
  </p>
</header>

<div class="article pure-u-22-24">
  {{ content }}
</div>
<hr>
<!--begin: 二维码展示，暂时可不用--
<div id="qrcodeCanvas"></div>
<!-- end : 二维码展示，暂时可不用-->
{% include 27zeros/donate.html %}
{% include 27zeros/copyright.html %}

<div class="pure-g pagination">
  {% if page.previous %}
    <a class="pure-u-1-2 pagination-item" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">
      <p><i class="fa fa-arrow-left"></i>&nbsp;{{ page.previous.title }}</p>
    </a>
  {% else %}
    <span class="pure-u-1-2 pagination-item">
      <p>已是最后一篇&nbsp;<i class="fa fa-chain-broken"></i></p>
    </span>
  {% endif %}

  {% if page.next %}
    <a class="pure-u-1-2 pagination-item" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">
      <p>{{ page.next.title }}&nbsp;<i class="fa fa-arrow-right"></i></p>
    </a>
  {% else %}
    <span class="pure-u-1-2 pagination-item">
      <p>已是最新一篇&nbsp;<i class="fa fa-chain-broken"></i></p>
    </span>
  {% endif %}
</div>

<script type="text/javascript" src="{{ ASSET_PATH }}/bootstrap/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="{{ ASSET_PATH }}/bootstrap/syntaxhighlighter/scripts/shAutoloader.js"></script>
<link href="{{ ASSET_PATH }}/bootstrap/css/toc.css" rel="stylesheet">
<script type="text/javascript" src="{{ ASSET_PATH }}/bootstrap/js/toc.min.js"></script>
<script type="text/javascript" src="{{ ASSET_PATH }}/bootstrap/js/post.js"></script>

<!--begin: qrcodeCanvas二维码生成工具--
<script type="text/javascript" >
  $('#qrcodeCanvas').qrcode({text:"{{ page.url }}"}); 
</script>
<!-- end : qrcodeCanvas二维码生成工具-->
<hr>

{% include JB/comments %}
